<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<h1>계정 활성화</h1>
<dl>
  <dt>이름</dt>
  <!--/*@thymesVar id="account" type="kr.lul.kobalttown.ms.account.borderline.dto.AccountDto"*/-->
  <dd th:text="${account.name}">name</dd>
  <dt>E-Mail</dt>
  <dd th:text="${account.email}">email</dd>
  <dt>활성화 페이지</dt>
  <dd>
    <a href="#"
       th:href="@{__${host}__/accounts/activate/__${code}__}"
       th:text="${host} +'/accounts/activate/' +${code}">activate url</a>
  </dd>
  <dt>유효기간</dt>
  <dd>
    <time th:text="${expire}">expire</time>
  </dd>
</dl>
</body>
</html>
